<a href="https://colab.research.google.com/github/AmanKumar9122/NLP_Codes/blob/main/NLP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re

In [ ]:
chat1='you ask lot of questions.1235678912,abcA_@xyz.com'
chat2='here it is: (123)-567-8912,abX_82@xyz.com'
chat3='yes, phone: 1235678912-email:abc@xyz.io'

In [ ]:
pattern = '[a-z0-9A-Z_]*@[a-z0-9A-Z]*\.[a-zA-Z]*'
matches = re.findall(pattern , chat2)
matches

['abX_82@xyz.com']

In [ ]:
import re

In [ ]:
chat1='Hello, I am having an issue with my order # 412889912'
chat2='I have a problem with my order number 412889912'
chat3='My order 412889912 is having an issue, I was charged 300$ when online it says 280$'

In [ ]:
pattern = 'order[^\d]*(\d*)'
matches = re.findall(pattern , chat1)
matches

['412889912']

In [ ]:
import re

In [ ]:
text='''Ritesh Agarwal
Agarwal in 2019
Born	16 November 1993 (age 31)
Bissam Cuttack, Orissa (now Odisha), India
Occupations
Businesspersonentrepreneurinvestor
Years active	2012 present
Organization	OYO Rooms
Television	Shark Tank India (2024–)
Spouse	Geetansha Sood ​(m. 2023)​
Awards	Thiel Fellowship, Business World Young Entrepreneur Award
'''

In [ ]:
pattern = 'age (\d+)'
matches = re.findall(pattern , text)
matches

['31']

In [ ]:
pattern = 'Born(.*)\(age'
matches = re.findall(pattern , text)
string = matches[0]
cleaned_string = string.lstrip()  # Removes leading whitespace, including tabs
print(cleaned_string)

16 November 1993

In [ ]:
pattern = '\(age.*\n(.*)'
matches = re.findall(pattern , text)
matches

['Bissam Cuttack, Orissa (now Odisha), India']

In [ ]:
import re

def get_pattern_match(pattern, text):
    '''Ritesh Agarwal
    Agarwal in 2019
    Born	16 November 1993 (age 31)
    Bissam Cuttack, Orissa (now Odisha), India
    Occupations
    Businesspersonentrepreneurinvestor
    Years active	2012 present
    Organization	OYO Rooms
    Television	Shark Tank India (2024–)
    Spouse	Geetansha Sood ​(m. 2023)​
    Awards	Thiel Fellowship, Business World Young Entrepreneur Award
    '''
    matches = re.findall(pattern, text)
    return matches[0] if matches else None # Return None if no match found

def extract_personal_information(text):
    age = get_pattern_match('age (\d+)', text)
    birth_date = get_pattern_match('Born(.*)\(age', text)
    birth_place = get_pattern_match('\(age.*\n(.*)', text)
    return {
        'age': int(age) if age else None, # Handle case where age is not found
        'birth_date': birth_date.strip() if birth_date else None, # Handle case where birth_date is not found
        'birth_place': birth_place.strip() if birth_place else None # Handle case where birth_place is not found
    }

# Define the 'text' variable within this cell as well
text='''Ritesh Agarwal
Agarwal in 2019
Born	16 November 1993 (age 31)
Bissam Cuttack, Orissa (now Odisha), India
Occupations
Businesspersonentrepreneurinvestor
Years active	2012 present
Organization	OYO Rooms
Television	Shark Tank India (2024–)
Spouse	Geetansha Sood ​(m. 2023)​
Awards	Thiel Fellowship, Business World Young Entrepreneur Award
'''

# Example usage with the 'text' variable
result = extract_personal_information(text)
print(result)

{'age': 31, 'birth_date': '16 November 1993', 'birth_place': 'Bissam Cuttack, Orissa (now Odisha), India'}

In [ ]:
import spacy

In [ ]:
nlp = spacy.load("en_core_web_sm")
doc = nlp("My name is Aman. I am 21 years old")
for sentence in doc.sents:
    print(sentence)

My name is Aman.
I am 21 years old

In [ ]:
nlp = spacy.load("en_core_web_sm")
doc = nlp("My name is Aman. I am 21 years old")
for sentence in doc.sents:
  for word in sentence:
    print(word)

My
name
is
Aman
.
I
am
21
years
old

In [ ]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [ ]:
from nltk.tokenize import sent_tokenize
sent_tokenize("My name is Aman. I am 21 years old")

['My name is Aman.', 'I am 21 years old']

In [ ]:
from nltk.tokenize import word_tokenize
word_tokenize("My name is Aman. I am 21 years old")

['My', 'name', 'is', 'Aman', '.', 'I', 'am', '21', 'years', 'old']

In [ ]:
import spacy

In [ ]:
nlp = spacy.blank("en")
doc = nlp('''"Let's go to N.Y.!"''')
for token in doc:
    print(token)

"
Let
's
go
to
N.Y.
!
"

In [ ]:
doc[1]

Let

In [ ]:
doc[-2]

!

In [ ]:
type(token)

spacy.tokens.token.Token

In [ ]:
doc[1:4]

Let's go

In [ ]:
type(doc)

spacy.tokens.doc.Doc

In [ ]:
doc = nlp("Tony gave 2$ to Peter.")

In [ ]:
token0 = doc[0]
token0

Tony

In [ ]:
dir(token0)

['_',
 '__bytes__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__pyx_vtable__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__unicode__',
 'ancestors',
 'check_flag',
 'children',
 'cluster',
 'conjuncts',
 'dep',
 'dep_',
 'doc',
 'ent_id',
 'ent_id_',
 'ent_iob',
 'ent_iob_',
 'ent_kb_id',
 'ent_kb_id_',
 'ent_type',
 'ent_type_',
 'get_extension',
 'has_dep',
 'has_extension',
 'has_head',
 'has_morph',
 'has_vector',
 'head',
 'i',
 'idx',
 'iob_strings',
 'is_alpha',
 'is_ancestor',
 'is_ascii',
 'is_bracket',
 'is_currency',
 'is_digit',
 'is_left_punct',
 'is_lower',
 'is_oov',
 'is_punct',
 'is_quote',
 'is_right_punct',
 'is_sent_end',
 'is_sent_start',
 'is_space',
 'is_stop',
 'is_title',
 'is_upper',
 'lang',
 'lang_',
 'left_edge',
 'lefts',
 'lemma',
 'lemma_',
 'lex',
 'lex_id',
 'like_email',
 'like_num',
 'like_url',
 'lower',
 'lower_',
 'morph',
 'n_lefts',
 'n_rights',
 'nbor',
 'norm',
 'norm_',
 'orth',
 'orth_',
 'pos',
 'pos_',
 'prefix',
 'prefix_',
 'prob',
 'rank',
 'remove_extension',
 'right_edge',
 'rights',
 'sent',
 'sent_start',
 'sentiment',
 'set_extension',
 'set_morph',
 'shape',
 'shape_',
 'similarity',
 'subtree',
 'suffix',
 'suffix_',
 'tag',
 'tag_',
 'tensor',
 'text',
 'text_with_ws',
 'vector',
 'vector_norm',
 'vocab',
 'whitespace_']

In [ ]:
type(token0)

spacy.tokens.token.Token

In [ ]:
token2 = doc[2]
token2.text

'2'

In [ ]:
token2.like_num

True

In [ ]:
token3 = doc[3]

In [ ]:
token3.is_currency

True

In [ ]:
for token in doc:
  print(token, "==>", "index: ",token.i,
        "is_alpha:", token.is_alpha,
        "is_punct:", token.is_punct,
        "like_num:", token.like_num,
        "is_currency", token.is_currency
        )

Tony ==> index:  0 is_alpha: True is_punct: False like_num: False is_currency False
gave ==> index:  1 is_alpha: True is_punct: False like_num: False is_currency False
2 ==> index:  2 is_alpha: False is_punct: False like_num: True is_currency False
$ ==> index:  3 is_alpha: False is_punct: False like_num: False is_currency True
to ==> index:  4 is_alpha: True is_punct: False like_num: False is_currency False
Peter ==> index:  5 is_alpha: True is_punct: False like_num: False is_currency False
. ==> index:  6 is_alpha: False is_punct: True like_num: False is_currency False

In [ ]:
with open("/RandomNames.txt") as f:
  text = f.readlines()
text

['Name\t\tDate of Birth\tEmail ID\n',
 'Aarav Sharma\t2002-05-14\taarav.sharma@email.com\n',
 'Priya Verma\t2001-09-23\tpriya.verma@email.com\n',
 'Rohan Iyer\t2003-02-10\trohan.iyer@email.com\n',
 'Ananya Pillai\t2000-07-08\tananya.pillai@email.com\n',
 'Vikram Mehta\t2002-12-19\tvikram.mehta@email.com\n',
 'Sneha Nair\t2001-04-30\tsneha.nair@email.com\n',
 'Arjun Desai\t2003-11-25\tarjun.desai@email.com\n',
 'Kavya Reddy\t2000-06-17\tkavya.reddy@email.com\n',
 'Rahul Choudhary\t2001-08-05\trahul.choudhary@email.com']

In [ ]:
text = " ".join(text)
text

'Name\t\tDate of Birth\tEmail ID\n Aarav Sharma\t2002-05-14\taarav.sharma@email.com\n Priya Verma\t2001-09-23\tpriya.verma@email.com\n Rohan Iyer\t2003-02-10\trohan.iyer@email.com\n Ananya Pillai\t2000-07-08\tananya.pillai@email.com\n Vikram Mehta\t2002-12-19\tvikram.mehta@email.com\n Sneha Nair\t2001-04-30\tsneha.nair@email.com\n Arjun Desai\t2003-11-25\tarjun.desai@email.com\n Kavya Reddy\t2000-06-17\tkavya.reddy@email.com\n Rahul Choudhary\t2001-08-05\trahul.choudhary@email.com'

In [ ]:
doc = nlp(text)
emails = []
for token in doc:
  if token.like_email:
    emails.append(token.text)
emails

['aarav.sharma@email.com',
 'priya.verma@email.com',
 'rohan.iyer@email.com',
 'ananya.pillai@email.com',
 'vikram.mehta@email.com',
 'sneha.nair@email.com',
 'arjun.desai@email.com',
 'kavya.reddy@email.com',
 'rahul.choudhary@email.com']

In [ ]:
nlp = spacy.blank("hi")
doc = nlp("भैया जी! 5000 ₹ उधार थे वो वापस देदो")
for token in doc:
  print(token, token.is_currency, token.like_num)

भैया False False
जी False False
! False False
5000 False True
₹ True False
उधार False False
थे False False
वो False False
वापस False False
देदो False False

In [ ]:
doc = nlp("gimme double cheese extra large healthy pizza")
tokens = [token.text for token in doc]
tokens

['gimme', 'double', 'cheese', 'extra', 'large', 'healthy', 'pizza']

In [ ]:
from spacy.symbols import ORTH
nlp.tokenizer.add_special_case("gimme", [
    {ORTH: "gim"},
    {ORTH: "me"}
])
doc = nlp("gimme double cheese extra large healthy pizza")
tokens = [token.text for token in doc]
tokens

['gim', 'me', 'double', 'cheese', 'extra', 'large', 'healthy', 'pizza']

In [ ]:
doc = nlp("My name is Aman. I am 21 years old.")
for sentence in doc.sents:
  print(sentence)

ValueError: [E030] Sentence boundaries unset. You can add the 'sentencizer' component to the pipeline with: `nlp.add_pipe('sentencizer')`. Alternatively, add the dependency parser or sentence recognizer, or set sentence boundaries by setting `doc[i].is_sent_start`.

In [ ]:
nlp.pipe_names

[]

In [ ]:
nlp.add_pipe('sentencizer')

In [ ]:
doc = nlp("My name is Aman. I am 21 years old.")
for sentence in doc.sents:
  print(sentence)

My name is Aman.
I am 21 years old.

In [ ]:
text='''
Look for data to help you address the question. Governments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and http://www.science.
gov/, and in the United Kingdom, http://data.gov.uk/.
Two of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/,
and the European Social Survey at http://www.europeansocialsurvey.org/.
'''

In [ ]:
doc = nlp(text)
data_website = [token.text for token in doc if token.like_url]
data_website

['http://www.data.gov/',
 'http://www.science',
 'http://data.gov.uk/.',
 'http://www3.norc.org/gss+website/',
 'http://www.europeansocialsurvey.org/.']

In [ ]:
text = "Tony gave two $ to Peter, Bruce gave 500 € to Steve"

In [ ]:
doc = nlp(text)
for token in doc:
  if token.like_num and doc[token.i+1].is_currency:
    print(token.text, doc[token.i+1].text)

two $
500 €

In [3]:
import spacy

In [4]:
nlp = spacy.load("en_core_web_sm")

In [5]:
doc = nlp("Captain america ate 100$ of samosa. Then he said I can do this all day.")
for token in doc:
  print(token, " | ", token.pos_, " | ", token.lemma_)

Captain  |  PROPN  |  Captain
america  |  PROPN  |  america
ate  |  VERB  |  eat
100  |  NUM  |  100
$  |  NUM  |  $
of  |  ADP  |  of
samosa  |  PROPN  |  samosa
.  |  PUNCT  |  .
Then  |  ADV  |  then
he  |  PRON  |  he
said  |  VERB  |  say
I  |  PRON  |  I
can  |  AUX  |  can
do  |  VERB  |  do
this  |  PRON  |  this
all  |  DET  |  all
day  |  NOUN  |  day
.  |  PUNCT  |  .

In [6]:
doc = nlp("Tesla Inc is going to acquire twitter for $45 billion")
for ent in doc.ents:
  print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
$45 billion  |  MONEY  |  Monetary values, including unit

In [7]:
from spacy import displacy
displacy.render(doc, style="ent")

In [8]:
# Bloomberg (Person) founded Bloomberg (Company) in 1982.